[alias]
    graph = log --all --graph --decorate --oneline
    s = status
[core]
    editor = vim
[credential]
    credentialStore = gpg
    helper = /usr/local/bin/git-credential-manager
[init]
    defaultBranch = main
[user]
    email = hugo.lorent@outlook.com
    name = Hugo LORENT
